html {
  height: 100%;
}

body {
   background-image: url("img/test3.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: #0009;
   background-blend-mode: darken;
   background-size: cover;
   height: 100%;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  font-weight: 300;
}

hr {
  width: 15%;
  opacity: 0.4;
}

a {
  color: #CFD8DC;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
  margin: 0 12px;
  white-space: nowrap;
}

a:hover {
  font-weight: bold;
  color: #FFF;
}

.intro {
  font-weight: 300;
  font-size: 1.2em;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #CFD8DC;
  font-family: 'Quicksand', sans-serif;
  padding: 0 24px;
}
